/* CUSTOM CSS FOR THE THEME
--------------------------------------------------------------------------------- */

/* Subtitle for all posts (packages) */
.entry-title {
  margin-bottom: 0;
}
.entry-subtitle {
  font-size: 130%;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 5px;

  color: #2D2D2D;
  background-color: #2D2D2D;
}

/* Thing at the footer */
footer #footer-licence {
  font-size: 70%;
  margin-top: 50px;
}

/* make images look good on package pages */
p img {
  float   : right;
  border  : 1px solid rgb(200, 200, 200);
  padding : 5px;
}


/* Styling all tables on the site */
table {
  border: none;
  margin: 20px 0;
  width: 100%;
}

th {
  border-bottom  : solid 1px rgb(100, 100, 100);
  font-weight    : bold;
  padding        : 5px;
  text-align     : center;
  vertical-align : top;
}
th:first-child {
  border-right: solid 1px rgb(200, 200, 200);
}

td {
  padding        : 3px 20px;
  text-align     : left;
  vertical-align : middle;
}
td:first-child {
  text-align   : right;
  border-right : solid 1px rgb(200, 200, 200);
}

tr:hover td {
  background-color : rgb(220, 220, 220);
}


/* the META part at the bottom of each package */
.meta {
  background-color : #393939;
  color            : rgb(186, 186, 186);
  padding          : 20px;
  padding-bottom   : 1px;
  text-align       : center;
  margin-bottom    : 10px;
}
.meta .list-category a {
  color : rgba(254, 121, 49, 1);
}
.meta .list-category a:hover {
  color : white;
}
.meta .list-tag a {
  color : rgba(54, 254, 49, 1);
}
.meta .list-tag a:hover {
  color: white;
}

.columns {
  column-width: 20em;
}
.columns-grouping {
  margin-bottom: 2em;
  orphans: 4;
}
.columns-grouping-heading {
  column-span: all;
  margin-bottom: 0.25em;
}

#search + #results {
  margin-top: 1em;
}
#search + #results .noResults img {
  margin: 0 auto;
  width: 10vw;
}
#search + #results li {
  list-style-type: none;
}
#search + #results li .result {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
#search + #results li:first-child .result {
  border-top: 0;
}
#search + #results .result {
  font-size: 0.85em;
  line-height: 1.5em;
  margin-left: 0.5em;
  padding-left: 0.5em;
}
#search + #results .result a {
  text-decoration: none;
}
#search + #results .result p {
  margin: 0;
}
#search + #results .result .result-title {
  font-size: 1.15em;
  line-height: 2em;
}
#search + #results .result label {
  font-weight: bolder;
}
#search + #results .result .result-repository {
  font-size: 0.9em;
}
.highlight.match-group-0  { background-color: #d5ebff; }
.highlight.match-group-1  { background-color: #c4e8ac; }
.highlight.match-group-2  { background-color: #f6d7a6; }
.highlight.match-group-3  { background-color: #c8c8ff; }
.highlight.match-group-4  { background-color: #f2cfff; }
.highlight.match-group-5  { background-color: #ffc5bf; }
.highlight.match-group-6  { background-color: #c8e7d6; }
.highlight.match-group-7  { background-color: #9fcfff; }
.highlight.match-group-8  { background-color: #9fcba1; }
.highlight.match-group-9  { background-color: #e0bf8b; }
.highlight.match-group-10 { background-color: #acadfc; }
.highlight.match-group-11 { background-color: #e1abf5; }
.highlight.match-group-12 { background-color: #ef9b95; }
.highlight.match-group-13 { background-color: #abe2d0; }
