/* CUSTOM CSS FOR THE THEME
--------------------------------------------------------------------------------- */

// Subtitle for all posts (packages)
.entry-title {
	margin-bottom: 0;
}
.entry-subtitle {
	font-size: 130%;
	margin: 0;
	padding: 0;
}


